<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Lobby_ShowButton" value="True" />
    <add key="Lobby_Detail" value="{Username}" />
    <add key="Lobby_State" value="Chilling in the lobby..." />
    <add key="Lobby_ButtonLabel" value="{FriendCode}" />
    <add key="Lobby_ButtonUrl" value="https://github.com/Johnnymc2001/CSGO-RPC" />

    <add key="Ingame_ShowMap" value="True" />
    <add key="Ingame_ShowTeam" value="True" />
    <add key="Ingame_ShowButton" value="True" />
    <add key="Ingame_Detail" value="{Mode} - {Map}" />
    <add key="Ingame_State" value="[𝗧 {TScore}] &lt;&lt;{Round}&gt;&gt; [{CTScore} 𝗖𝗧]" />
    <add key="Ingame_LargeText" value="{Map}" />
    <add key="Ingame_SmallText" value="{Name} [{Kill}/{Death}/{Assist} ({Score}) [{MVP}⭐]" />
    <add key="Ingame_ButtonLabel" value="{Name} [{Kill}/{Death}/{Assist} ({Score}) [{MVP}⭐]" />
    <add key="Ingame_ButtonUrl" value="https://github.com/Johnnymc2001/CSGO-RPC" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>