<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Lobby_Detail" value="{USERNAME}" />
    <add key="Lobby_State" value="{ID}" />
    <add key="AutoStart" value="False" />
    <add key="Ingame_ShowMap" value="True" />
    <add key="Ingame_ShowGamemode" value="True" />
    <add key="Ingame_ShowKDA" value="True"/>
    <add key="Ingame_State" value="[𝗧 {TScore}] ({Round}) [{CTScore} 𝗖𝗧] {Phase}"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>